<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findus</title>
    <link rel="stylesheet" href="findus.css">
</head>
<body>
<section class="findus">
  <h1 class="findus-titulo">
    de onde quer <span class="cor-1">suas fichas hoje?</span>
  </h1>

  <section class="findus-container" aria-labelledby="findus-title">
    <h2 id="findus-title" class="visually-hidden">Nossos diferenciais</h2>

    <!-- Coluna Esquerda -->
    <div class="findus-column findus-left">
      <p class="findus-subtitulo">
        <img src="../assets/calendar-check.svg" class="img-column" alt="Calendário">
        Desde 2016, referência em fichas de Poker Online no Brasil.
      </p>
      <p class="findus-subtitulo">
        <img src="../assets/shield.svg" class="img-column" alt="Escudo">
        Segurança na compra de fichas.
      </p>
    </div>

    <!-- Imagem Central -->
     <div class="carousel">
  <button class="prev">‹</button>
  
  <div class="carousel-track-container">
    <ul class="carousel-track">
      <li class="carousel-slide"><img src="../assets/card-suprema.svg" alt="Card com logo da Suprema Poker" class="img-card"></li>
      <li class="carousel-slide"><img src="../assets/card-pixpoker.svg" alt="Card com logo da PixPoker" class="img-card"></li>
      <li class="carousel-slide"><img src="../assets/card-pppoker.svg" alt="Card com logo da pppoker" class="img-card"></li>
      <li class="carousel-slide"><img src="../assets/card-gg.svg" alt="Card com logo da ggpoker" class="img-card"></li>
    </ul>
  </div>
  
  <button class="next">›</button>
</div>

    <!-- Coluna Direita -->
    <div class="findus-column findus-right">
      <p class="findus-subtitulo">
        <img src="../assets/arrows-move.svg" class="img-column" alt="Setas em quatro direções">
        Escolha a plataforma de Poker que você prefere.
      </p>
      <p class="findus-subtitulo">
        <img src="../assets/lightning.svg" class="img-column" alt="Relâmpago">
        Escolha a plataforma de Poker que você prefere.
      </p>
    </div>
  </section>
</section>

<script src="../assets/main.js"></script>
</body>
</html>