<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>

    <header>
    <nav class="menu">
        <a href="index.html">
        <img src="../assets/logo-nav.svg" class="img-logo" alt="logo BigFichas">
        </a>

        <ul class="menu-list">
            <li><a class="menu-list-nav" href="#home">home</a></li>
            <li><a class="menu-list-nav" href="#findus">onde estamos</a></li>
            <li><a class="menu-list-nav" href="#club">poker in live</a></li>
            <li><a class="menu-list-nav" href="#blog">blog</a></li>
        </ul>
        <div class="container-btn">
        <input type="checkbox" id="menu-mobile" class="menu-btn-check">
        <label for="menu-mobile">
            <span class="menu-btn"></span>
        </label>

        <ul class="menu-list-mobile">
            <li><a class="menu-list-nav-mobile" href="#home">home</a></li>
            <li><a class="menu-list-nav-mobile" href="#findus">onde estamos</a></li>
            <li><a class="menu-list-nav-mobile" href="#club">poker in live</a></li>
            <li><a class="menu-list-nav-mobile" href="#blog">blog</a></li>
        </ul>
        
        </div>
    </nav>
    </header>

</body>
</html>
